.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.overflow-relative {
    position: relative;
    overflow: auto;
}

.locksi-color {
    color: #FE7D21 !important;
}

.locksi-bg-color {
    background: #FE7D21 !important;
}

/* v-list border */
.v-list--rounded .v-list-item, .v-list--rounded .v-list-item::before, .v-list--rounded .v-list-item > .v-ripple__container {
    border-radius: 6px !important;
}

.txt-head {
    font-weight: bold;
    font-size: 20px;
}

.borderCurve {
    border-radius: 30px !important;
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot {
    padding: 0 20px;
}