<template>
  <v-layout justify-center>
    <v-flex xs12>

      <img width="100%" height="80%" style="position: absolute; z-index: 10" :src="require('../assets/cover-home.png')">
      <v-layout justify-center mt-8 style="position: relative; z-index: 15;">
        <v-flex xs10>
          <v-layout justify-end>
            <v-flex shrink>
              <v-icon color="#333">more_horiz</v-icon>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout style="height: 55%; position: relative; z-index: 15;">
        <v-flex class="flex-center">
          <img width="150px" :src="require('../assets/logo.png')">
        </v-flex>
      </v-layout>

      <v-layout fill-height style="max-height: 40vh; bottom: 0; left: 0; right: 0; position: absolute">
        <v-flex xs6 class="background-deposit">
          <div style="height: 50%"></div>
          <div class="flex-center" style="height: 50%">
            <div>
              <img class="icon-size" :src="require('../assets/deposit.png')">
              <div class="mt-n2 text-center white--text">ฝาก</div>
            </div>
          </div>
        </v-flex>
        <v-flex xs6 class="background-getback">
          <div style="height: 50%"></div>
          <div class="flex-center" style="height: 50%">
            <div>
              <img class="icon-size" :src="require('../assets/getback.png')">
              <div class="mt-n2 text-center white--text">รับคืน</div>
            </div>
          </div>
        </v-flex>
      </v-layout>

    </v-flex>
  </v-layout>
</template>

<script>

export default {
  name: 'Home',
  components: {

  }
}
</script>

<style scoped>

  .icon-size {
    width: 70px;
  }

  .background-deposit {
    background: linear-gradient(180deg, #FE7D21 0%, #FF5C00 100%);
  }
  .background-getback {
    background: #333;
  }
</style>
