<template>
    <v-content style="background: linear-gradient(180deg, #333333 21.87%, #000000 52.08%, #333333 84.9%);">
        <Lottie
                :options="loadOptions"
        ></Lottie>
    </v-content>
</template>

<script>
    import Lottie from 'vue-lottie/src/lottie'
    import * as LoadingAnim from '../assets/locksi-loading'

    export default {
        name: "Loading",
        components: {
            Lottie
        },
        data: () => ({
            loadOptions: {
                animationData: LoadingAnim.default,
                autoplay: true
            }
        }),
        methods: {
            handleAnimation: function (anim) {
                this.anim = anim;
            },

            stop: function () {
                this.anim.stop();
            },

            play: function () {
                this.anim.play();
            },

            pause: function () {
                this.anim.pause();
            },

            onSpeedChange: function () {
                this.anim.setSpeed(this.animationSpeed);
            }
        }
    }
</script>

<style scoped>

</style>