<template>
  <v-layout justify-center>
    <v-flex xs12>

      <img width="100%" height="83%" style="position: absolute; z-index: 10" :src="require('../assets/cover-login.png')">
      <v-layout justify-center style="z-index: 15; position: relative; height: 80%">
        <v-flex xs10>

          <v-layout justify-end mt-8>
            <v-flex shrink>
              <v-icon dark>more_horiz</v-icon>
            </v-flex>
          </v-layout>

          <v-layout justify-center>
            <v-flex shrink>
              <img width="105px" :src="require('../assets/white-logo.png')">
            </v-flex>
          </v-layout>

          <v-layout pa-3>
            <v-flex white--text>
              <img class="mr-2" width="21px" style="vertical-align: bottom" :src="require('../assets/mini-icons/getback-acc.png')">
              ข้อมูลผู้ฝาก
            </v-flex>
          </v-layout>
          <v-text-field
                  solo rounded dense
                  placeholder="ชื่อ - นามสกุล"
          ></v-text-field>
          <v-text-field
                  class="mt-n4"
                  solo rounded dense
                  placeholder="เบอร์โทรศัพท์"
          ></v-text-field>

          <v-divider dark style="border: solid .75px #fff"></v-divider>

          <v-layout py-3 px-2>
            <v-flex white--text>
              <img width="29px" class="mr-1" style="vertical-align: bottom" :src="require('../assets/mini-icons/deposit-acc.png')">
              ข้อมูลผู้รับคืน
            </v-flex>
          </v-layout>
          <v-text-field
                  solo rounded dense
                  placeholder="ชื่อ - นามสกุล"
          ></v-text-field>
          <v-text-field
                  class="mt-n4"
                  solo rounded dense
                  placeholder="เบอร์โทรศัพท์"
          ></v-text-field>

        </v-flex>
      </v-layout>

      <v-layout fill-height style="max-height: 20%; bottom: 0; left: 0; right: 0; position: absolute">
        <v-flex xs12>
          <v-layout justify-center>
            <v-flex shrink mt-10>
              <v-btn rounded color="#FE7D21" dark width="180px">ถัดไป</v-btn>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>

    </v-flex>
  </v-layout>
</template>

<script>

  export default {
    name: 'Login',
    components: {

    }
  }
</script>

<style scoped>

</style>
