<template>
    <v-content class="header-tab">
        <v-layout justify-center pa-4 pt-7>
            <v-flex xs12>

                <v-layout justify-center>
                    <v-flex shrink>
                        <img width="80px" :src="require('../assets/mini-icons/logo-header.png')">
                    </v-flex>
                </v-layout>

                <v-layout justify-center>
                    <v-flex shrink class="white--text font-weight-bold">
                        {{ title ? title:'title message' }}
                    </v-flex>
                </v-layout>

            </v-flex>
        </v-layout>
    </v-content>
</template>

<script>
    export default {
        name: "Header",
        props: ['title']
    }
</script>

<style scoped>
.header-tab {
    background: linear-gradient(180deg, #FF5C00 0%, #FE7D21 100%);
}
</style>